*{
    box-sizing: border-box;
}

:root{

}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color:lightblue;
    padding-bottom: 5px;
}

h1 {
    max-width: 25%;
    font-size: 200%;
    padding-left: 5%;
}
header nav ul {
    display: inline-flex;
    list-style-type: none;
    text-align: right;
}

header li {
    text-align: right;
    padding-right: 20px;
}

body figure {
    background-color: aqua;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#photo {
    height:5cm;
    width: 5cm;
    padding: 10px;
}

main{
    margin: 10px, 0, 10px, 0; 
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.cards{
    width: 97%;
    height:auto;
    padding: 10px;
    background-color:gray;
    margin:10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.side-bar {
    width: 20%;
    min-height: 100%;
    background-color: bisque;
    border-right-width: 5px;
    border-right-color: chocolate;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.detail {
    width:70%;
    padding-left: 10px;
}

#works-gallery{

    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.works {
    width:500px;
    height:300px;

}

.works figcaption {
    background-color: darkblue;
    max-width: 30%;
    max-height: 20%;
    color:antiquewhite;
    position: relative;
    bottom:0; left: 20%;
    z-index: 10;
}

footer {
    text-align: center;
}
@media screen and (max-width:992px){

}

@media screen and (max-width:768px)[

]