*{
    box-sizing: border-box;
}

:root{
 
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color:lightblue;
    padding-bottom: 5px;
}

h1 {
    max-width: 25%;
    font-size: 200%;
    padding-left: 5%;
}

ul {
    display: inline-flex;
    list-style-type: none;
}

header nav ul{
    display: inline-flex;
    list-style-type: none;
    text-align: right;
}

header li {
    text-align: right;
    padding-right: 20px;
}

#photo {
    background-color: aqua;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#my-photo {
    height:5cm;
    width: 5cm;
    padding: 10px;
}

main{
    margin: 10px 0 10px 0; 
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.cards{
    width: 97%;
    height:auto;
    padding: 10px;
    background-color:gray;
    margin:10px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.side-bar {
    width: 20%;
    min-height: 100%;
    background-color: bisque;
    border-right-width: 5px;
    border-color: chocolate;
    border-style: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.detail {
    width:75%;
    padding-left: 10px;
}

#works-gallery{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height:auto;
    
}

.works {
    width:650px;
    height:300px;
    margin: 10px;
}

.works figcaption {
    background-color: darkblue;
    width:30%;
    height:20%;
    color:antiquewhite;
    position: relative;
    bottom:20%; left: 0%;
    z-index: 10;
}

.work-images {
   width:100%;
   max-height:100%;
   object-fit:cover;
   object-position: top;
}

.detail ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer {
    text-align: center;
}

@media screen and (min-width: 993px){

    .works:first-child:not(:hover){
        width:100%;
        height:500px;
    }
    
    .works:hover {
        order:-1;
        width: 100%;
        height: 500px;
    }

    .works:hover ~ .works{
        width:650px;   
        height:300px;

    }
    .work:hover .work-images {
        width:100%;
        max-height:100%;
        object-fit:cover;
        object-position: top;
    }
    

}

@media screen and (max-width:992px){
    
    .works {
        width: 46%;
    }
}

@media screen and (max-width:768px){
    
   ul {
        display:inline-block;
    }
    
    header li {
        padding:5px;
    }
    
    .cards{
        flex-direction:column;
        align-items: center;
    }
    
    .side-bar {
        width: 97%;
        border-bottom-width: 5px ;
        border-right-width: 0;
        flex-direction: row;
        justify-content: center;
        align-items:baseline;
    }
    
    .detail {
        width:97%;
        padding: 0;
        flex-direction: column;
    }

    .works {
        width:100%;
    }
    
    .detail ul{
        flex-direction: column;
        justify-content: center;
    }
    
}

